<div class="modal fade" id="modalEvents" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Add Event</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formEvent" (ngSubmit)="addEvent()">
          <input formControlName="name" type="text" class="form-control" placeholder="Insert name">
          <span *ngIf="formEvent.get('name')?.hasError('required') && formEvent.get('name')?.touched">
            El campo del nombre es <strong>requerido</strong> </span>
          <input formControlName="description" type="text" class="form-control mt-2" placeholder="Insert description">
          <span *ngIf="formEvent.get('description')?.hasError('required') && formEvent.get('description')?.touched">
            El campo del description es <strong>requerido</strong> </span>
            <input formControlName="date" type="date" class="form-control mt-2" placeholder="Insert date">
            <span *ngIf="formEvent.get('date')?.hasError('required') && formEvent.get('date')?.touched">
              El campo fecha es <strong>requerido</strong> </span>
          <input formControlName="time" type="time" class="form-control mt-2" placeholder="Insert time">
          <span *ngIf="formEvent.get('time')?.hasError('required') && formEvent.get('time')?.touched">
            El campo hora es <strong>requerido</strong> </span>
          <input formControlName="people" type="number" class="form-control mt-2" placeholder="Insert people">
          <span *ngIf="formEvent.get('people')?.hasError('required') && formEvent.get('people')?.touched">
            El campo equipo es <strong>requerido</strong> </span>
          <div class="row mt-2 text-center">
            <div class="col-lg-6">
          <button type="submit" routerLink="/callendar" class="btn btn-primary">Aceptar</button>
        </div>
        <div class="col-lg-6">
          <button type="button" routerLink="/callendar" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
        </div>
        </div>
        </form>
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>