<div
  class="card div1 text-center my-auto"
  
  class="text-decoration-none"
>
  <div class="card shadow content text-center">
    <img
      *ngIf="card.imageUrl"
      [src]="card.imageUrl"
      alt="Scaperoom Image"
      class="card-image"
    />
    <div class="card-content">
      <h1>{{ card.id }}</h1>
      <!-- <app-edit-button [id]="card.id!" />
      <app-delete-button
        [id]="card.id!"
        (delete)="handleDelete()"
      ></app-delete-button> -->
    </div>
  </div>
</div>
