<div class="container-fluid mt-4">
  <div class="row justify-content-center align-items-center text-center">
    <div class="col-12 col-md-6 col-xl-6 d-flex justify-content-center align-items-center">
      <div class="w-100">
      <app-scaperoom-item [card]="selectedCard"></app-scaperoom-item>
    </div>
    </div>
    <div class="col-12 col-md-6 col-xl-6 d-flex justify-content-center align-items-center">
      <app-scaperoom-detail [card]="selectedCard"></app-scaperoom-detail>
    </div>
  </div>
</div>
