.small-image {
    max-width: 100%;   /* La imagen nunca ser치 m치s ancha que su contenedor */
    width: 50%;        /* Ajusta el tama침o a la mitad del contenedor */
    height: auto;      /* Mantiene la proporci칩n de la imagen */
  }