<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Generos
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" (click)="selectGenre('default')">Todos</a></li>
      <li><a class="dropdown-item" (click)="selectGenre('aventuras')">Aventuras</a></li>
      <li><a class="dropdown-item" (click)="selectGenre('terror')">Terror</a></li>
      <li><a class="dropdown-item" (click)="selectGenre('wild')">Wild</a></li>
    </ul>
  </div>