@if(loading){
  <app-progress-spinner/>
  }

<div class="title">
  <h4>Mis fotos</h4>
</div>
<section>
  <app-user-stats></app-user-stats>
</section>

<section>
<app-filter (filteredGenre)="onGenreSelected($event)"></app-filter>
</section>

<section 
class="scroll-container"
  infiniteScroll
  [infiniteScrollDistance]="2" 
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
>
<!-- class="flex-1 max-w-7xl mx-auto"> -->
  <app-list-scaperooms [listScapeRooms]="listScapeRooms"></app-list-scaperooms>
</section>
@if(!!errorMessage){
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
}

<app-filter-button class="app-filter-button"></app-filter-button>
<app-modal-filter   (sort)="sortBy($event)"></app-modal-filter>
