<div class="container">
  <div class="row d-flex flex-column">
    <div class="col-12 d-flex justify-content-center my-3">
      <app-dropdown-buttom
        (genreSelected)="onGenreChange($event)"
      ></app-dropdown-buttom>
    </div>
    <div class="col-xl-8 justify-content-center mx-auto">
      <div class="card text-center">
        <div id="map"></div>
      </div>
    </div>
  </div>
</div>

<a [routerLink]="['/scaperoom/:id']" style="text-decoration: none; color: inherit;"><app-exit-button></app-exit-button></a>