<div class="container">
    <div class="title">
    <h4>Listado de Scaperooms</h4>
    <app-add-button [routerLink]="['/crud/add']"></app-add-button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Empresa</th>
        <th scope="col">Poster</th>
        <th scope="col">Genero</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        @for(item of listScapeRooms;track item){
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.title}}</td>
        <td>{{item.director}}</td>
        <td>{{item.poster}}</td>
        <td>{{item.genre}}</td>
        <td>
    <app-edit-button [routerLink]="['/crud/edit', item.id]"></app-edit-button>
    <app-delete-button></app-delete-button>
        </td>
      </tr>
    }
    </tbody>
  </table>

</div>