<div class="card-detail-container">
  <div class="card-detail">

    <p>Nº00{{card.id}}</p>
    <h1>{{card.title}}</h1>
    <h4>{{card.director}}</h4>

    <app-file-upload [cardId]="card.id" (uploadSuccess)="increaseCounter()"></app-file-upload>

    @if(!!errorMessage){
      <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
    }
  
    <div class="d-flex justify-content-center gap-5">
    <button type="button" class="btn btn-primary" [routerLink]="['/scaperoom', card.id, 'map']"><i class="bi bi-geo-alt fs-4"></i></button>
    <button type="button" class="btn btn-primary" [routerLink]="['/scaperoom', card.id,'callendar']"><i class="bi bi-calendar fs-4"></i></button>
  </div>
    <a [routerLink]="['/scaperooms']" style="text-decoration: none; color: inherit;"><app-exit-button></app-exit-button></a>
  </div>
    </div>

