  <!-- Modal -->
  <div class="modal fade" id="modalDivision" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content text-center">
        <div class="modal-header text-center">
          <h5 class="modal-title" id="staticBackdropLabel">DIVISIONES</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="modal-body">
                <h5>Candado Etéreo 🌫️</h5>
                <p><strong>0 a 10 salas jugadas</strong><br>
                Recién inicia su aventura.<br>
                Tu viaje por el mundo de los escape rooms apenas comienza. Observa, aprende y déjate sorprender: este es solo el inicio.</p>
                <hr>
              
                <h5>Candado de Madera - Curioso/a del Enigma 🪵</h5>
                <p><strong>11 a 25 salas jugadas</strong><br>
                Recién inicia su aventura.<br>
                Puede dejar reseñas y votar a nivel nacional.</p>
                <hr>
              
                <h5>Candado de Bronce - Buscador/a de Claves 🟤</h5>
                <p><strong>26 a 50 salas jugadas</strong><br>
                Empieza a reconocer patrones y estilos de salas.<br>
                Puede recomendar a otros jugadores.</p>
                <hr>
              
                <h5>Candado de Plata - Rompecódigos ⚙️</h5>
                <p><strong>51 a 75 salas jugadas</strong><br>
                Tiene experiencia variada y puede identificar detalles de calidad.<br>
                Puede dejar valoraciones que impacten en rankings regionales.</p>
                <hr>
              
                <h5>Candado de Oro - Viajero/a de Escape ✈️</h5>
                <p><strong>76 a 99 salas jugadas</strong><br>
                Ha jugado en distintas ciudades o tipos de salas.<br>
                Sus opiniones ayudan a orientar nuevos escapistas.</p>
                <hr>
              
                <h5>Candado de Cristal - Arquitecto/a de Puzzles 🧩</h5>
                <p><strong>100 a 149 salas jugadas</strong><br>
                Tiene criterio fino sobre narrativa, inmersión y mecánicas.<br>
                Puede escribir reseñas destacadas.</p>
                <hr>
              
                <h5>Candado de Diamante - Maestro/a de las Llaves 💎</h5>
                <p><strong>150+ salas jugadas</strong><br>
                Ha explorado un mundo de escape rooms.<br>
                Puede votar a nivel mundial y ser parte de jurados o selecciones especiales.</p>
                <hr>
              
                <h5>Candado Legendario - Maestro/a de las Llaves 🔱</h5>
                <p><strong>1000+ salas jugadas</strong><br>
                Invitación a jurado, eventos exclusivos.</p>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Vale</button>
        </div>
      </div>
    </div>
  </div>