
@if(loading){
  <app-progress-spinner/>
  }

  @if(!loading){
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col col-12 col-xl-12 mx-auto">
      <div class="title">
    <h4>Mis fotos</h4>
  </div>  
    <app-filter />
  </div>
  </div>

  <div class="row">
    
    <div class="col-12 col-xl-12">
      <div class="card">
        @if(listScapeRooms.length > 0){
        <div class="parent">
          @for(item of listScapeRooms;track item){
          <app-card
            [item]="item"
            (onDelete)="deleteScapeRoom($event)"
          ></app-card>
          }
        </div>
      }
      @if(listScapeRooms.length == 0 ){
        <h5>No hay scapeRooms para mostrar</h5>
      }
      </div>
    </div>
  </div>
</div>
  }

  <app-modal-filter (sort)="sortBy($event)"></app-modal-filter>