
<div class="container mt-4">
        @if(listScapeRooms.length > 0){
        <div class="parent">
          @for(item of listScapeRooms;track item){
            @if(item.type ==='logro'){
              <app-achivement-card 
              [card]="item"
              ></app-achivement-card>
            }@else{
              <app-card
                [card]="item" [routerLink]="['/scaperoom', item.id]"
              ></app-card>
            }
          }@empty {
            <p>No hay scapeRooms para mostrar</p>
          }
        </div>
      }
      </div>



  
 