body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.6rem; /* Espacio entre las cards */
  }
 

@media (max-width: 768px) {
  .parent {
    flex: 1 1 calc(50% - 8px); /* Ajusta a 2 columnas en pantallas medianas */
  }
  }

  @media (max-width: 480px) { 
    .parent {
      flex: 1 1 calc(33.333% - 8px); /* Mantiene 3 columnas incluso en pantallas pequeñas */
    }
  }
  