<div class="container">
  <div class="row justify-content-center align-content-center gap-3">
    <div class="col-auto">
      <div class="card shadow px-3">
        <app-counter [counter]="counter"></app-counter>
      </div>
    </div>
    <div class="col-auto">
      <div class="card shadow px-3">
        <app-division [division]="division"></app-division>
      </div>
    </div>
    <div class="col-auto">
      <div class="card shadow px-3">
        <app-experience [experience]="experience"></app-experience>
      </div>
    </div>
  </div>
</div>
