@if(loading){
  <app-progress-spinner class="spinner"/>
  }

<div class="title d-flex align-items-center justify-content-between p-4">
  <h3 class="m-0 w-100 text-center">Mis fotos</h3>
 <div class="position-absolute end-0 me-4">
  <app-modal-button></app-modal-button>
</div>
</div>

<div class="dynamic-strip position-absolute top-5 start-0"></div>
<section class="pt-4 mb-4">
  <app-user-stats></app-user-stats>
</section>

<section>
<app-filter-panel class=" text-center" (filteredGenre)="onGenreSelected($event)"></app-filter-panel>
</section>

<section  
class="scroll-container"
  infiniteScroll
  [infiniteScrollDistance]="2" 
  [infiniteScrollThrottle]="300"
  (scrolled)="onScroll()"
>
<!-- class="flex-1 max-w-7xl mx-auto"> -->
 
  <app-list-scaperooms [listScapeRooms]="listScapeRooms"></app-list-scaperooms>

</section>
@if(!!errorMessage){
  <div class="alert alert-danger" role="alert">{{errorMessage}}</div>
}

<app-filter-button class="app-filter-button"></app-filter-button>
<app-modal-filter   (sort)="sortBy($event)"></app-modal-filter>
<app-division-modal></app-division-modal>
