<div class="container mt-4">
    <div class="title text-center">
        <h4>Estadísticas</h4>
    </div>
    <div class="row d-flex align-items-center">
        <div class="col d-flex justify-content-center g-2">
            <div class="card">
                <p><strong>En un año 7 scaperooms</strong></p>
            </div>
            <div class="card">
                <p><strong>Promedio de 5 scaperooms al mes</strong></p>
            </div>
        </div>
        <div class="col p-2 text-center">
            <app-charts/>
        </div>
    </div>
</div>
<a [routerLink]="['/profile']"  style="text-decoration: none; color: inherit;"><app-exit-button class="app-exit-button"></app-exit-button></a>
